.bg-head {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 1, 42, 1) 0%,
    rgba(3, 3, 3, 1) 100%
  );
}
.head-name-meetroom {
  font-size: 40px;
}
html {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Kanit", sans-serif !important;
  background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.772)),url("../img/bg-meet-m.jpg");

  height: 100vh;
  width: 100vw;
  -webkit-background-size: 100%,100%;
  -moz-background-size: 100%,100%;
  -o-background-size: 100%,100%;
  background-size: 100%,100%;
  background-position: center;
  background-repeat: no-repeat;
}
.body-row {
  margin-top: 5%;
}
.text-meet-detail {
  font-size: 36px;
}
.detail-date {
  color: rgb(255, 122, 122);
  font-size: 26px;
}
.detail-time {
  color: rgb(255, 122, 122);
  font-size: 42px;
}
.hr-footer {
  color: inherit;
  background-color: white;
}
.detail-by {
  font-size: 30px;
}
.detail-dep{
  font-size: 18px;
}
.tabs {
  display: flex;
  flex-direction: row;
}

.tab {
  border-top-left-radius: 5px;
}
